<h1>Welcome to Avant-Bard!</h1>

<div class="word-form-box">
  <p><strong>Similar Words</strong></p>
  <%= form_tag("/similar", method: "get") do %>
    <%= label_tag(:q, "Enter a word to get words that have similar meaning:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="word-form-box">
  <p><strong>Rhyming Words</strong></p>
  <%= form_tag("/rhyme", method: "get") do %>
    <%= label_tag(:q, "Enter a word to get words that rhyme with it:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="word-form-box">
  <p><strong>Scrabble Word Finder</strong></p>
  <%= form_tag("/scrabble", method: "get") do %>
    <%= label_tag(:l, "Enter letters from your board:") %>
    <%= text_field_tag(:l) %>
    <br/>
    <%= label_tag(:i, "Enter intersecting letter (if any)") %>
    <%= text_field_tag(:i) %>
    
    <br/>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>